*.iml
## Gradle caches (root + all submodules)
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
## Build outputs (root + all submodules)
build/
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
